

.chatArea { margin: 5px; }
.chatArea input { width: 93%; border-radius: 15px 15px 15px 15px; min-height: 35px; background-color: #FFFFFF; border: 1px solid #CCCCCC; padding: 0 3%; }
.chatArea input:focus { border: 1px solid #0088CC; }

.chat-away {
  background-color: #ff9c00;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  top: 25px;
  left: 10px;
  position: relative;
}


.chat-busy {
  background-color: #000099;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  top: 25px;
  left: 10px;
  position: relative;
}

.chat-offline {
  background-color: #990000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  top: 25px;
  left: 10px;
  position: relative;
}

.chat-online {
  background-color: #5A8F00;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  top: 25px;
  left: 10px;
  position: relative;
}
.triangle-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  background:#075698; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
  background:-moz-linear-gradient(#075698, #2e88c4);
  background:-o-linear-gradient(#075698, #2e88c4);
  background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
  margin-left:40px;
  background:#5A8F00;
  max-width: 70%;
  margin-right: 0%;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
  margin-right:40px;
  background:#075698;
  max-width: 70%;
  margin-left: 0%;
  margin-top: 0px;
  margin-bottom: 20px;
  float: right;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#075698 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #075698; 
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
  top:16px; 
  left:-40px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #5A8F00; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
  top:16px; 
  right:-40px; /* value = - border-left-width - border-right-width */
  bottom:auto;
    left:auto;
  border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
  border-color:transparent #075698 ; 
}

.chat-picture.right {
   width: 46px; 
   height: 61px; 
   border-radius: 6px 6px 6px 6px;
   display: inline;
   top: 20;
   left: 20;
   float: right;
   background: url('../imgs/contactPhotoFrameNone.png') center center no-repeat; 
}

.chat-picture.left {
   width: 46px; 
   height: 61px; 
   border-radius: 6px 6px 6px 6px;
   display: inline;
   top: 20;
   left: 20;
   float: left;
   background: url('../imgs/contactPhotoFrameNone.png') center center no-repeat; 
}

.fullWidth {
  width: 100%;
}

.chat-conversation-box-you{
  background-color: #CCC;
  word-wrap: break-word;
  padding: 5px;
}

.badge-chat {
  background-color: #990000;
  position: absolute; 
  margin-left: -30px; 
  margin-top: -10px;
}

.badge-chat-list {
  float: right; 
  position: relative; 
  top: 15px; 
  margin-right: 5%; 
}
