* { margin: 0; padding: 0; }
html,body { height:100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
body { padding: 53px 0 0; overflow: hidden; }
ul, ol { list-style: none; }

.left { float: left; /*padding-bottom: 8000px; margin-bottom: -8000px;*/ }
.right { float: right; /*padding-bottom: 8000px; margin-bottom: -8000px;*/ }
.clear { clear: both; }
.hidden { display: none !important; }

body #page { position: relative; height: 100%; width: 100%; background-color: #FFF; } 
/*body #page.menuExpanded { margin-left: auto; }
body.smartphone #page.menuExpanded { margin-left: auto; }*/

body #page .top { position: absolute; height: 53px; width: 100%; top: -53px; background: url("../imgs/icon.png") no-repeat scroll center center #F1F1F1; border-bottom: 1px solid #E5E5E5; }
body #page .smartphone { position: absolute; height: 53px; width: 100%; top: -53px; background: url("../imgs/icon-logo-top.png") no-repeat scroll center center #F1F1F1; border-bottom: 1px solid #E5E5E5; }
body #page .top .topButtons li { float: left; }
body #page .top .topButtons li a { height: 53px; width: 53px; display: block; color: transparent; text-shadow: none; font: 0px/0 a; }
	.topButtons .menu { background: url("../imgs/menu.png") no-repeat scroll 0 0 transparent; }
	.topButtons .voltar { background: url("../imgs/menu.png") no-repeat scroll 0 0 transparent; }
	.topButtons .contextMenu { background: url("../imgs/context_menu.png") no-repeat scroll 0 0 transparent; }

body #page .main { position: absolute; width: 100%; height: 100%; bottom: 0; }
body #page .main h2 { border-bottom: 2px solid #437DD6; font-size: 20px; height: 50px; line-height: 50px; padding: 0 0 0 10px; color: #333333; } 

body #page .main #content { width: 40%; height: 100%; position: relative; border-right: 1px solid #E5E5E5; }
/*body #page .main #content.full { width: 100% }*/
body #page .main #content ul { width: 100%; background-color: #FAFAFA; }
body #page .main #content ul li { border-bottom: 1px solid #CCCCCC; border-top: 1px solid #FFFFFF; font-size: 14px; height: 60px; color: #000000; text-align: left; }
body #page .main #content ul li a { display: block; height: 60px; text-decoration: none; }
body #page .main #content ul li a h3 { color: #0088CC; margin-left: 30px; padding-top: 10px; font-size: 16px; }
body #page .main #content ul li a span { font-size: 13px; color: #777777; margin: 0 0 0 30px; }
body #page .main #content ul li.selected { background-color: #3960A6; }
body #page .main #content ul li.selected h3 { color: #FFFFFF; }
body #page .main #content ul li.selected span { color: #FFFFFF; }
body.smartphone #page .main #content { width: 100%; }

ul li.selected { background-color: #3960A6; }
ul li.selected h3 { color: #FFFFFF; }
ul li.selected span { color: #FFFFFF; }
ul li.selected a { color: #FFFFFF !important; }


body #page .main #content dl dt { font-size: 16px; color: #FFFFFF; padding: 10px; border-bottom: 1px #FFFFFF solid; font-weight: bold; background-color: #3A87AD; }
body #page .main #content dl dd ul li { vertical-align: middle; height: 50px; line-height: 50px; padding: 0 10px; color: #777777; }
body #page .main #content dl dd ul li input.check { float: right; margin-top: 18px; }
body #page .main #content dl dd ul li a { text-decoration: none; color: #777777; font-weight: bold; }


body #page .main #contentDetail { width: 60%; height: 100%; position: relative; font-size: 19px; margin-right: -1px; }
/*body #page .main #contentDetail #scrollerDetail { padding: 20px; }*/
body #page .main .container { position: absolute; top: 53px; right: 0; left: 0; bottom: 0; background: none repeat scroll 0 0 #FFFFFF; }
body.smartphone #page .main #contentDetail { display: none; }

/** Busca **/
body #page .searchArea { margin: 5px; padding: 8px; }
body #page .searchArea input { width: 93%; border-radius: 15px 15px 15px 15px; min-height: 35px; background-color: #FFFFFF; border: 1px solid #CCCCCC; padding: 0 3%; }
body #page .searchArea input:focus { border: 1px solid #0088CC; }


/** Menu **/
body #menu { width: 50%; height: 100%; position: absolute; margin-top: -53px; background: url("../imgs/bg.png"); display: none; }
body #menu.expanded { display: block; }
body #menu #personalInfo { height: 61px; padding: 10px 10px; border-bottom: 1px solid #2C2C2C }
.userPicture { float: left; width: 46px; height: 61px; border-radius: 6px 6px 6px 6px; background: url('../imgs/contactPhotoFrameNone.png') center center no-repeat; }
body #menu #personalInfo .personalData { margin: 0 0 0 56px; height: 61px; color: #FFF; }
body #menu #personalInfo .personalData span { display: block; }
body #menu #personalInfo .personalData span.name { font-size: 15px; }
body #menu #personalInfo .personalData span.email { font-size: 13px;}
body #menu #personalInfo .personalData #quota {  }
body #menu #personalInfo .personalData #quota .bar { font-size: 11px; display: inline;  height: 14px; width: 170px; border: 1px #444444 solid; display: inline-block; background-color: #FFF; }
body #menu #personalInfo .personalData #quota .bar div.usedQuota { background-color: #ABC6E1; height: 14px; }
body #menu #personalInfo .personalData #quota .bar span { background: transparent; width: 170px; text-align: center; color: #000; margin-top: -14px; }
/*body #menu dl { height: 100%; }*/
body #menu dl dt { background-color: #2C2C2C; color: #EFEFEF; height: 20px; padding: 5px; line-height: 20px; font-size: 20px; }
body #menu dl dd ul li a { height: 32px; color: #CCCCCC; text-decoration: none; display: block; padding: 8px 10px; margin: 0 20px 0 10px; font-weight: bold; }
body #menu dl dd ul#mainMenu { background-color: #333333; padding: 10px 0; }
body #menu dl dd ul#mainMenu li.selected { background: transparent url('../imgs/seta.png') no-repeat right 16px; }
body #menu dl dd ul#mainMenu li.selected a { color: #EFEFEF; border: 1px solid #444444; background-color: #222222; border-radius: 5px 5px 5px 5px; }
body #menu dl dd ul#mainMenu li a span { float: left; margin-left: 55px; height: 32px; line-height: 32px; vertical-align: top; }
body #menu dl dd ul#mainMenu li a .icon { width: 40px; height: 32px; }
.icon-email { 
   border-radius: 5px;
  background: url("../imgs/icon-caixa-entrada-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-expresso { 
   border-radius: 5px;
  background: url("../imgs/icon.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-agenda { 
   border-radius: 5px;
  background: url("../imgs/icon-agenda-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-contacts { 
   border-radius: 5px;
  background: url("../imgs/icon-contatos-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-jabber { 
   border-radius: 5px;
  background: url("../imgs/icon-chat-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-settings { 
   border-radius: 5px;
  background: url("../imgs/icon-preferencias-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}
.icon-logout { 
  border-radius: 5px;
  background: url("../imgs/icon-sair-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}

.icon-add-folder { 
  border-radius: 5px;
  background: url("../imgs/icon-adicionar-pasta-90x72.png") no-repeat scroll center center;
  background-size: 40px 32px;
}


body #menu dl dd ul#myFolders li { border-bottom: 1px #EFEFEF solid; }
/*body #menu dl dd ul#myFolders li a { height: 32px; text-decoration: none; }*/
body #menu dl dd ul#myFolders { background-color: #FFF; }
body #menu dl dd ul#myFolders li a { height: 30px; color: #333333; margin-right: 10px; }
body #menu dl dd ul#myFolders li a .icon { width: 30px; height: 30px; margin-left: 5px; }
body #menu dl dd ul#myFolders li a span { line-height: 30px; vertical-align: top; margin-left: 40px; float: left; width: 90%; }
body #menu dl dd ul#myFolders li a span .badge.badge-info { float: right; }
.badge-subfolders { 
  float: right; 
  background-color: #c4c4c4 !important; 
  font-family: Verdana;
}

.folder-icon {
  width: 30px; 
  height: 30px;
  float: left;
  top: 10px;
  left: 5px;
  position: relative;
}

.folder-inbox {
  background: url("../imgs/icon-caixa-entrada-30x30.png") no-repeat scroll center center;
}

.folder-drafts {
  background: url("../imgs/icon-rascunho-30x30.png") no-repeat scroll center center;
}

.folder-sent {
  background: url("../imgs/icon-encaminhadas-30x30.png") no-repeat scroll center center;
}

.folder-blue {
  background: url("../imgs/icon-pasta-30x30.png") no-repeat scroll center center;
}

.folder-trash {
  background: url("../imgs/icon-lixeira-vazia-30x30.png") no-repeat scroll center center;
}

.folder-trash-full {
  background: url("../imgs/icon-lixeira-cheia-30x30.png") no-repeat scroll center center;
}

.folder-shared {
  background: url("../imgs/icon-pasta-compartilhada-30x30.png") no-repeat scroll center center;
}

.context-add-folder {
  background: url("../imgs/icon-adicionar-pasta-30x30.png") no-repeat scroll center center;
}

.context-rename-folder {
  background: url("../imgs/icon-renomear-pasta-30x30.png") no-repeat scroll center center;
}

.context-del-folder {
  background: url("../imgs/icon-excluir-pasta-30x30.png") no-repeat scroll center center;
}



/** Menu de contexto **/
body #page .top #contextMenu { background-color: #333333; width: 240px; position: absolute; top: 53px; right: 0; z-index: 9999; }
body #page .top #contextMenu ul li { border-bottom: 1px solid #2C2C2C; }
body #page .top #contextMenu ul li a { color: #EFEFEF; text-decoration: none; display: block; padding: 15px 10px; width: 200px; }


/** Preferências **/
body form { font-size: 16px; padding: 15px; }

  /** Preferências > Alterar senha **/
  body form#changePassword ol li { margin: 15px 25px 15px 15px; }
  body form#changePassword ol li input { width: 100%; height: 30px; padding: 5px; }

  /** Preferências > Resultados por página **/
  body #detailList ul { width: 100%; background-color: #FAFAFA; }
  body #detailList ul li { border-bottom: 1px solid #CCCCCC; border-top: 1px solid #FFFFFF; font-size: 14px; height: 60px; color: #000000; text-align: left; }
  body #detailList ul li a { display: block; height: 60px; text-decoration: none; }
  body #detailList ul li a h3 { color: #0088CC; margin-left: 30px; padding-top: 10px; font-size: 16px; }
  body #detailList ul li a span { font-size: 13px; color: #777777; margin: 0 0 0 30px; }
  body #detailList ul li.selected { background-color: #3960A6; }
  body #detailList ul li.selected h3 { color: #FFFFFF; }
  body #detailList ul li.selected span { color: #FFFFFF; }


  /** Preferências > Assinatura de e-mail **/
  body #emailSignature ol li { margin: 15px 25px 15px 15px; }
  body #emailSignature ol li textarea { width: 100%; height: 300px; font-size: 16px; border: 0px; border-color: #FFF; }

  /** Preferências > Suporte / Sugestões **/
  body form#support ol li { margin: 15px 25px 15px 15px; }
  body form#support ol li textarea { width: 100%; height: 150px; }

  /** Preferências > Sobre o expresso **/
  /*body dl#aboutExpresso { margin: 15px 25px; }*/
  body #page .main dl#aboutExpresso dt { border-bottom: 1px solid #3A87AD; color: #3A87AD; font-size: 16px; font-weight: bold; padding: 10px; margin-top: 1px; background-color: #FFF; }
  body #page .main dl#aboutExpresso dd { font-size: 14px; color: #777777; padding: 10px; margin-bottom: 5px;  }
  body #page .main dl#aboutExpresso dd a { color: #777777; }
  body #page .main dl#aboutExpresso dd ul { background-color: transparent; }
  body #page .main dl#aboutExpresso dd ul li { height: auto; border: 0; line-height: normal; margin: 5px 0; list-style-position: inside; list-style-type: circle; }

  /** Preferências > Créditos **/
  /*body dl#credits { margin: 15px 25px; }*/
  body #page .main dl#credits dt { border-bottom: 1px solid #3A87AD; color: #3A87AD; font-size: 16px; font-weight: bold; padding: 10px; margin-top: 1px; background-color: #FFF; }
  body #page .main dl#credits dd { font-size: 14px; color: #777777; padding: 10px; margin-bottom: 5px;  }
  body #page .main dl#credits dd a { color: #777777; }
  body #page .main dl#credits dd ul { background-color: transparent; }
  body #page .main dl#credits dd ul li { height: auto; border: 0; line-height: normal; margin: 5px 0; list-style-position: inside; list-style-type: circle; }


  /** Contatos **/
body #page .main dl#contactsList dd ul li { height: 71px; }
body #page .main dl#contactsList dd ul li a { height: 71px; }
body #page .main dl#contactsList dd ul li a div.picture_image { height: 61px; width: 46px; margin-top: 5px; float: left; }
body #page .main dl#contactsList dd ul li a div.picture_image img { height: 61px; width: 46px; /*margin-top: 5px; float: left;*/ }
body #page .main dl#contactsList dd ul li a div.info { margin-left: 61px; }
body #page .main dl#contactsList dd ul li a div.info span { display: block; line-height: normal; margin-left: 0 }
body #page .main dl#contactsList dd ul li a div.info span.name { font-size: 14px; padding-top: 18px;  }
body #page .main dl#contactsList dd ul li a div.info span.email { font-size: 13px; }

  /** Contatos > Detalhes **/
  body #page .main dl#contactDetails dt { border-bottom: 1px solid #3A87AD; color: #3A87AD; font-size: 16px; font-weight: bold; padding: 10px; margin-top: 1px; background-color: #FFF; }
  body #page .main dl#contactDetails dd { font-size: 14px; color: #777777; padding: 10px; margin-bottom: 5px;  }
  body #page .main dl#contactDetails dd a { color: #777777; }
  body #page .main dl#contactDetails dd ul { background-color: transparent; }
  body #page .main dl#contactDetails dd ul li { height: auto; border: 0; line-height: normal; margin: 5px 0; list-style-position: inside; list-style-type: circle; }


/** Agenda **/
body #page .main #agenda .ui-datepicker { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; width: auto; border: 0; background: #F1F1F1; }
body #page .main #agenda .ui-datepicker .ui-datepicker-header { border: 0; border-radius: 0; background-color: #3A87AD; height: 40px; line-height: 40px; color: #FFF; }
body #page .main #agenda .ui-datepicker .ui-datepicker-header a { cursor: pointer; text-align: center; width: 50px; }
body #page .main #agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-prev { float: left; }
body #page .main #agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-next { float: right; }
body #page .main #agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-title { text-align: center }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar { width: 100%; background-color: #FFFFFF; border-spacing: 0; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr { height: 50px; background-color: #F1F1F1; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar thead tr { height:30px; background-color: #777777; color: #FFF; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar thead tr th { }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar thead tr th span { font-weight: normal; font-size: 14px; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td { width: 14%; border: 1px #FFF solid; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td a,
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td span { height: 50px; text-align: center; line-height: 50px; display: block; text-decoration: none; color: #777777; font-weight: bold; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-today a { color: #FFF; background-color: #3A87AD; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-week-end  a { color: #CC6600; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td.hasEvent a { border: 1px #CC6600 dotted; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day a { border: 1px #777777 solid; }
body #page .main #agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-unselectable span { font-weight: normal; }

  /** Agenda - Lista resumida **/
  body #page .main #eventsList .noEvent { height: 100px; line-height: 100px; text-align: center; color: #777777; }
  body #page .main ul#events li { border-left: 8px solid #3A87AD; font-size: 16px; height: 60px; background-color: #FFFFFF; }
  body #page .main ul#events li a { height: 60px; }
  body #page .main ul#events li a div.hourly { float: left; width: 60px; text-align: center; }
  body #page .main ul#events li a div.hourly strong { font-weight: bold; color: #3A87AD; display: block; height: 23px; line-height: 23px; font-size: 13px; }
  body #page .main ul#events li a div.hourly strong.start { margin-top: 7px; }
  body #page .main ul#events li a span { font-size: 14px; color: #777777; margin-left: 12px; line-height: 60px; }
  body #page .main ul#events li a span.complete { color: #3A87AD; font-size: 14px; font-weight: bold; }

  /** Agenda - Lista completa **/
  body #page .main table#eventsTable { width: 100%; font-size: 16px; border-spacing: 0; margin-top: 1px; }
  body #page .main table#eventsTable tr { height: 60px; }
  body #page .main table#eventsTable tr td { border-bottom: 1px solid #CCCCCC; /*border-top: 1px #FFF solid;*/ height: 60px; }
  body #page .main table#eventsTable tr td.hourly { border-left: 8px solid #3A87AD; color: #3A87AD; width: 60px; font-weight: bold; text-align: center; }
  body #page .main table#eventsTable tr td.description a { padding: 12px; color: #777777; font-size: 14px; text-decoration: none; display: block; height: 100%; }
  body #page .main table#eventsTable tr td.busy { background-color: #F1F1F1; }

  /** Agenda - Detalhes do evento **/
  body #page .main table#eventDetails { width: 100%; font-size: 16px; border-spacing: 0; margin-top: 1px; }
  body #page .main table#eventDetails tr { height: 60px; }
  body #page .main table#eventDetails tr td { border-bottom: 1px solid #CCCCCC; border-top: 1px #FFF solid; min-height: 60px; }
  body #page .main table#eventDetails tr td.item { border-left: 8px solid #3A87AD; color: #3A87AD; width: 120px; font-weight: bold; text-align: left; padding-left: 5px; }
  body #page .main table#eventDetails tr td.description { padding: 12px; color: #777777; font-size: 14px;}
  body #page .main table#eventDetails tr td.description ul li { border: none; height: auto; color: #777777;  }
  body #page .main table#eventDetails tr td.busy { background-color: #F1F1F1; }

  body form#addEvent { padding: 0; }
  body form#addEvent ol li { min-height: 60px; border-left: 8px solid #3A87AD; border-bottom: 1px #CCC solid; border-top: 1px #FFF solid; }
  body form#addEvent ol li label { padding-top: 20px; color: #3A87AD; width: 120px; font-weight: bold; text-align: left; padding-left: 5px; }
  body form#addEvent ol li.date ol li { width: 47%; margin: 0; display: inline; border: 0; }
  body form#addEvent ol li.itens { color: #777777; }
  body form#addEvent ol li.itens h4 { display: inline; font-weight: bold; }
  body form#addEvent ol li.itens a { text-decoration: none; margin: 21px 10px; color: #3A87AD; float: right; }
  body form#addEvent ol li.itens ol { margin: 55px 0 10px 15px; }
  body form#addEvent ol li.itens ol li { margin: 10px 0; border: 0; min-height: 0; }
  body form#addEvent ol li.itens ol li label { padding-top: 0; float: none; }
  body form#addEvent ol li label { float: left; width: 150px; }

  body form#addEvent input[type=text], body form#addEvent input[type=date], body form#addEvent input[type=time], body form#addEvent select, body form#addEvent textarea { /*border: 1px #CCC solid*/ border: 0; width: auto; margin: 10px 0;  padding: 10px 5px; font-size: 16px; /*border-radius: 3px 3px 3px 3px;*/ color: #777777; /*background-color: #F1F1F1;*/ }
  body form#addEvent select { /*width: 100%; */height: 40px; padding: 0; }
  body form#addEvent input[type=text]:focus, body form#addEvent input[type=date]:focus, body form#addEvent input[type=time]:focus, body form#addEvent select:focus, body form#addEvent textarea:focus { /*border: 1px solid #3A87AD;*/ }
  body form#addEvent textarea { height: 150px; }
  /*body form#addEvent body form { font-size: 16px; padding: 10px 15px; }*/
  input[type=checkbox].css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
  input[type=checkbox].css-checkbox + label.css-label { padding-left: 25px !important; height: 20px; display: inline-block; line-height: 20px; background-repeat: no-repeat; background-position: 0 0; font-size: 15px; vertical-align: middle; cursor:pointer; }
  input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -20px; }
  .css-label { background-image:url(../imgs/web-two-style.png); width: 90% !important; }

  /** Adicionar participantes **/
  body #page .main #contentDetail dl#participantsList { margin-top: 1px;  }
  body #page .main dl#participantsList dt { font-size: 16px; color: #FFFFFF; padding: 10px; border-bottom: 1px #FFFFFF solid; font-weight: bold; background-color: #3A87AD; }
  body #page .main dl#participantsList dd ul li { vertical-align: middle; height: 60px; line-height: 50px; padding: 0 10px; color: #777777; border-bottom: 1px solid #CCCCCC; border-top: 1px solid #FFFFFF; font-size: 14px; text-align: left; }
  body #page .main dl#participantsList dd ul li input.check { float: right; margin-top: 18px; }
  body #page .main dl#participantsList dd ul li a { text-decoration: none; color: #777777; font-weight: bold; }

/** Pull down styles **/
#pullDown, #pullUp { 
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../imgs/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


.white-block {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bdc1c6;
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  margin-bottom: 15px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 100%;
  min-width: 300px;
}

.head {
  padding-bottom: 8px;
  margin: 10px 10px 8px 10px;
  border-bottom: 1px solid #c6c6c6;
  line-height: 1.2;
}
.detail-box .head a {
  font-size: 14px;
  font-weight: bold;
}
.detail-box .head img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.detail-box .head .date {
  display: block;
  font-size: 11px;
  color: #5c5c5c;
}
.detail-box .desc {
  margin: 10px 10px 8px 10px;
}
.detail-box .comments {
  background: #efefef;
  padding: 7px 10px;
  font-size: 12px;
  color: #878787;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.msg-list-images {
	float: right;
	width: 120px !important;
	height: 50px;
}

.msg-attachments {
	background: url("../imgs/msg-attachments.png") no-repeat scroll 0 0 transparent;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	float: right;
	margin: 5px;
}

.msg-forwarded {
	background: url("../imgs/msg-forwarded.png") no-repeat scroll 0 0 transparent;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	float: right;
	margin: 5px;
}

.msg-flagged {
	background: url("../imgs/msg-flagged.png") no-repeat scroll 0 0 transparent;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	float: right;
	margin: 5px;
}

.msg-unread {
	background-color: #3960A6;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	float: left;
	top: 25px;
	left: 10px;
	position: relative;
}

.badge {
  border-radius: 10px;

  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  padding: 5px;
  margin: 5px;
}

.badge-info {
  background-color: #3a87ad;
}




.ellipsis14 {
	height: 14px !important;
	line-height: 14px !important;
 	max-height: 14px !important;
 	display: block;
}

.ellipsis50 {
	height: 50px;
	line-height: 50px !important;
 	max-height: 50px;
 	display: block;
}

.ellipsis20 {
	height: 20px;
	line-height: 20px !important;
 	max-height: 20px;
 	display: block;
}






/* LOGIN */

.login-center {
  margin: 0px auto;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

.login {
  margin: 5% auto;
  margin-bottom: 0px;
  padding: 18px 20px;
  width: 245px;
  background: #3f65b7;
  background-clip: padding-box;
  border: 1px solid #172b4e;
  border-bottom-color: #142647;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
  background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
  background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
  background-image: radial-gradient(cover, #437dd6, #3960a6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}
.login > h1 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.login-select {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 20px;
  padding: 0 9px;
  color: white;
  text-shadow: 0 1px black;
  background: #2b3e5d;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.login-input {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 20px;
  padding: 0px 0px;
  color: #333;
  text-shadow: 0 1px black;
  background: #EFEFEF;
  border: 0px solid #333;
  border-top-color: #333;
  text-align: center;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2); 
}
.login-input:focus {
  outline: 0;
  color: white;
  background-color: #32486d;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}
.lt-ie9 .login-input {
  line-height: 35px;
}

.login-box {
  margin: 0px auto;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(245, 245, 245, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.login-box a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.login-box a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-context {
    background-color: #006DCC;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin: 6px 6px 0 6px;
    height: 40px;
}

.btn-compose {
    background: url("../imgs/icon-nova-mensagem-30x30.png") no-repeat scroll center center;
    background-color: #006DCC;
    background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    min-width: 40px;
    height: 40px;
}

.btn-add-event {
    background: url("../imgs/icon-adicionar-evento-30x30.png") no-repeat scroll center center;
    background-color: #006DCC;
    background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    min-width: 40px;
    height: 40px;
}

.btn-save-event {
    background: url("../imgs/icon-salvar-agenda-30x30.png") no-repeat scroll center center;
    background-color: #006DCC;
    background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    min-width: 40px;
    height: 40px;
}
.btn-add-contact-agenda {
  background: url("../imgs/icon-adicionar-participante-agenda-30x30.png") no-repeat scroll center center;
  background-color: #006DCC;
  background-repeat: no-repeat;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  min-width: 40px;
  height: 40px;
}

.icon-add-contact-agenda {
  background: url("../imgs/icon-adicionar-participante-agenda-30x30.png") no-repeat scroll center center;

}

.icon-take-picture {
  background: url("../imgs/icon-tirar-foto-30x30.png") no-repeat scroll center center;

}

.icon-select-picture {
  background: url("../imgs/icon-escolher-foto-30x30.png") no-repeat scroll center center;

}

.icon-add-ccbcc {
  background: url("../imgs/icon-adicionar-ccbcc-30x30.png") no-repeat scroll center center;

}


.icon-remove-ccbcc {
  background: url("../imgs/icon-remover-ccbcc-30x30.png") no-repeat scroll center center;

}



.context-icon {
  float: left;
  min-width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: -5px;
}

.context-reply {
    background: url("../imgs/icon-responder-30x30.png") no-repeat scroll center center;
}

.context-reply-all {
  background: url("../imgs/icon-responder-todos-30x30.png") no-repeat scroll center center;
}

.context-delete-message {
  background: url("../imgs/icon-excluir-mensagem-30x30.png") no-repeat scroll center center;
}

.context-forward {
  background: url("../imgs/icon-encaminhar-30x30.png") no-repeat scroll center center;
}

.context-catalogo-geral {
  background: url("../imgs/icon-catalogo-geral-30x30.png") no-repeat scroll center center;
}

.context-catalogo-pessoal {
  background: url("../imgs/icon-catalogo-pessoal-30x30.png") no-repeat scroll center center;
}


.product-logo {
  width: 250px;
  height: 67px;
  background: url("../imgs/logo_expresso.png") no-repeat scroll center center;
}

.company-logo {
  width: 100%;
  height: 65px;
  text-align: center;
  background: url("../imgs/logo_cia_celepar.png") no-repeat scroll center center;
  background-size: 150px 65px;
}


.messageInput {
  min-height: 35px; 
  background-color: #FFFFFF; 
  border: 0px solid #CCCCCC; 
  padding: 0px;
  vertical-align: center;
  width: 100%;
}

.messageBodyInput {
  padding-top: 15px;
  border: 0px;
  padding-bottom: 50px;
}

.formListItem {
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}

.formFieldTitle {
  float: left;
  line-height: 50px;
}

.formField {
  width: 100%;
}

.inputMessage {
  border: 0px;
  min-width: 250px; 
  height: 50px; 
  font-size: 18px;
  float: left;
}

.recipientmsgTo {
  float: left;
}

.recipientmsgCc {
  float: left;
}

.recipientmsgBcc {
  float: left;
}

.fakeTextarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 0px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    min-height: 50px;
    overflow: auto;
    padding: 2px;
    /*resize: both;*/
}


.badge-write-message {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: #3a87ad;
  font-size: 16px;
  line-height: 30px;
}


/** Mensagens - Detalhes da Mensagem **/
body #page .main table#messageDetails { width: 100%; font-size: 16px; border-spacing: 0; margin-top: 1px; }
body #page .main table#messageDetails tr { height: 60px; }
body #page .main table#messageDetails tr td { border-bottom: 1px solid #CCCCCC; border-top: 1px #FFF solid; min-height: 60px; }
body #page .main table#messageDetails tr td.item { border-left: 8px solid #3A87AD; color: #3A87AD; width: 50px; font-weight: bold; text-align: left; padding-left: 5px; }
body #page .main table#messageDetails tr td.description { padding: 12px; color: #777777; font-size: 14px;}
body #page .main table#messageDetails tr td.descriptionCompose { padding: 0px; color: #777777; font-size: 14px;}
body #page .main table#messageDetails tr td.itemBody { border-left: 8px solid #3A87AD; padding-left: 5px; }

.badge-attachment {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: #137300;
  font-size: 18px;
  line-height: 30px;
}

.simple-attachment {
  display: block;
  width: 100%;
  height: 80px;
  -pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
  behavior: url(assets/pie/PIE.htc);
  position:relative; /*required to make PIE work*/
  float: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
  border-radius: 5px 5px 5px 5px;
}

.simple-attachment .icon {
  background: url("../imgs/icon-attachment.png") no-repeat scroll center center; 
  background-size: 70px 80px;
  width: 70px;
  height: 80px;
  float: left;
}

.simple-attachment .icon-image {
  width: 70px;
  height: 80px;
  float: left;
}


.simple-attachment .attachment-name {
  font-size:14px;
  color:#454f40;
  letter-spacing:0.09em;
  margin-top: 15px;
  text-align: left;
}

.simple-attachment .attachment-size {
  font-size:12px;
  color:#454f40;
  letter-spacing:0.09em;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: left;
}
/*
.attachmentImage {

}*/

.drop_zone {
  margin: 10px;
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    padding: 5px;
    text-align: center;
}

#drop_zone_text {
    padding: 25px;
    text-align: center;
}

.icon-add {
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 25px;
  margin-top: 5px;
  
  background-repeat: no-repeat;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  min-width: 40px;
  height: 40px;

  background-color: #006DCC;
  background-repeat: repeat-x;
  
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background: url("../imgs/icon-adicionar-ccbcc-30x30.png") no-repeat scroll center center;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #006DCC;

}

.btn-right {
  float: right;
  width: 70px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.right_link_blue {
  width: 70px;
  height: 80px;
  background-color: #0000FF;
  color: #FFF;
  font-size: 16px;
  vertical-align: center;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  text-align: center;
}

.message {
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
            transparent 75%, transparent);
  
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  border: 1px solid;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  z-index: 9999;          
  width: 100%;
  color: #fff;
  padding: 10px;
  position: relative;
  animation: animate-bg 5s linear infinite; 
}  

.chat-message {
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}
     
.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;       
     font-size: 12px;

}


.message h4{
     margin: 0 0 10px 0;
     margin-top: 6px;
     margin-left: 30px;       
     font-size: 16px;
}

.message p{
     margin: 0;     
     font-size: 10px;                     
}

.message-icon { width: 40px; height: 32px; float: left; }

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

.subtitle-detail-text {
  text-align: right; 
  margin: 0px; 
  margin-right: 10px; 
  font-size: 14px; 
  float: right; 
  color: #777777;
}


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.2s ease-in 0s; -webkit-transition: margin 0.2s ease-in 0s;
    -o-transition: margin 0.2s ease-in 0s; transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2DBA1A; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 20px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.2s ease-in 0s; -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


.attachment {
  width: 160px;
  height: 150px;
  border: 1px solid #CCC;
  margin: 10px;
  float: left;
}
.attachment img {
  height: 100%;
}
.attachmentPreview {
  font-family: Verdana;
  font-size: 12px;
  color: #FFF;
  position: absolute;
  width: 160px;
  height: 100px;
  margin-top: 0px;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  z-index: 200;
}
.attachmentTitle {
  font-family: Verdana;
  font-size: 12px;
  color: #FFF;
  background-color: #000;
  position: absolute;
  width: 160px;
  height: 50px;
  margin-top: 100px;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  z-index: 200;
}
.attachmentTitle .fileName {
  margin: 10px;
  text-align: left;
  height: 16px; 
  overflow: hidden;
}
.attachmentTitle .fileSize {
  margin-top: 28px; 
  margin-left: 10px; 
  font-size: 10px;
  position: absolute;
}
.attachmentTitle .deleteAttachment {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px;
  background: url('../imgs/icon-excluir-mensagem-30x30.png');
  width: 30px;
  height: 30px;
}

.attachmentTitle .downloadAttachment {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px;
  background: url('../imgs/icon-download-30x30.png');
  width: 30px;
  height: 30px;
}

.attachmentTitle a {
  text-decoration: none;
  color: #FFF;
}

.attachment-arquivo-background {
  background: url('../imgs/icon-anexo-arquivo-160x150.png');
}

