
body { background-color: #F1F1F1; margin-top: 20px; } 
body #menu { margin-top: -75px; }

.product-logo-menu {
	margin-top: 0px;
}

body #page .topHeader { position: absolute; height: 53px; width: 100%; top: -53px; background: url("../imgs/icon.png") no-repeat scroll center center #F1F1F1; border-bottom: 1px solid #E5E5E5; box-shadow: 0 0px 0px #FFF; }


.message { margin-top: 0px; }

.message-icon { margin-top: 20px; }

.message h3{
     margin: 20px 0 5px 0;       
     font-size: 12px;

}

.message h4{
     margin: 0 0 10px 0;
     margin-top: 26px;
     margin-left: 30px;       
     font-size: 16px;
}

.message p{
     margin: 0;     
     font-size: 10px;                     
}