<table id="eventDetails"> 
	<tr>
		<td class="item">
			In&iacute;cio
		</td>
		<td class="description">
			<%= event.get('eventDateStart') %> - <%= event.get('eventTimeStart') %>
		</td>
	</tr> 
	<tr>
		<td class="item">
			T&eacute;rmino
		</td>
		<td class="description">
			<%= event.get('eventDateEnd') %> - <%= event.get('eventTimeEnd') %>
		</td>
	</tr> 
	<tr>
		<td class="item">
			Local
		</td>
		<td class="description">
			<%= _.isEmpty(event.get('eventLocation')) ? '-' : event.get('eventLocation') %>
		</td>
	</tr> 
	<tr>
		<td class="item">
			Prioridade
		</td>
		<td class="description">
			<%= event.get('eventPriority') %>
		</td>
	</tr>
	<tr>
		<td class="item">
			Participantes
		</td>
		<td class="description" id="listParticipants">
				
			<% 
			if (event.get('eventParticipantsLdap').length > 0) 
			{ 
				%>
				<ul>
				<%
				var participants = event.get('eventParticipantsLdap');
				for (var i in participants) 
				{
					if (!_.isEmpty(participants[i].get('contactFullName')))
					{
					%>	
						<li><%= participants[i].get('contactFullName') %></li>
					<%
					}
				}
				%>
				</ul>
				<%
			}
			%>

		</td>
	</tr> 
	<tr>
		<td class="item">
			Criado por
		</td>
		<td class="description">
			<% if (!_.isEmpty(event.get('eventOwner'))) { %>
				<%= event.get('eventOwner').get('contactFullName') %>
			<% } %>
		</td>
	</tr>  
	<tr>
		<td class="item">
			Descri&ccedil;&atilde;o
		</td>
		<td class="description">
			<%= event.get('eventDescription') %>
		</td>
	</tr> 
	
</table>