<ul class="right topButtons">
  <li>
    <input id="btn-primary-action" type="button" value="" class="hidden" style=""> 
  </li>
  <li><a id="contextMenuButton" href="#" class="contextMenu">Menu de contexto</a></li>
</ul>
<div id="contextMenu" class="hidden">
	<ul>
		<% _.each(menuItems, function(menuItem){ %>
			<% if (!menuItem.get("primary")) { %>
				<li><a href="<%=menuItem.get("route")%>" title="<%=menuItem.get("title")%>"><div class="context-icon <%=menuItem.get("iconClass")%>"></div><%=menuItem.get("title")%></a></li>
			<% } %>
		<% }); %>
	</ul>
</div>

