<div id="menu" class="left expanded">
  <div id="scrollerMenu">
  </div>
</div>

<!-- fim menu -->

  <div id="page" class="left">

    <header class="top">
      
      <ul class="left topButtons">
        <li><a id="menuButton" href="#" class="menu">Menu</a></li>
      </ul> 
      
      <ul class="right topButtons">
        <li><a href="" class="contextMenu">Menu de contexto</a></li>
      </ul>

      <div id="contextMenu" class="hidden">
        <ul>
          <li><a href="#">Contexto 1</a></li>
          <li><a href="#">Contexto 2</a></li>
          <li><a href="#">Contexto 3</a></li>
        </ul>
      </div>

    </header>

    <div class="main">

      <div id="content" class="left">
        <h2 class="ellipsis50">Caixa de Entrada</h2>

        <form action="#" class="searchArea">
          <input type="text" value="" placeholder="Procurar Por:" />
        </form>
        
        <div id="wrapper" class="container">
          <div id="scroller">
            <div id="pullDown">
              <span class="pullDownIcon"></span><span class="pullDownLabel">Puxe para baixo para atualizar</span>
            </div>
            <ul id="scrollerList"></ul>
            <div id="pullUp">
              <span class="pullUpIcon"></span><span class="pullUpLabel">Puxe para cima para carregar mais...</span>
            </div>
          </div>
        </div>
      </div>

      <div id="contentDetail" class="left">
        <h2 class="ellipsis50">Assunto da mensagem : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        <article id="wrapperDetail" class="container">
          <div id="scrollerDetail">
            
          </div>
        </article>
      </div>
    </div>
  </div>