<div id="menu" class="left expanded">
  <div id="scrollerMenu">
  </div>
</div>
<!-- fim menu -->
  <div id="page" class="left">
    <header id="pageHeader" class="top">
      <div id="pageMessage" class="left">

      </div>
      <ul class="left topButtons">
        <li><a id="menuButton" href="#" class="menu">Menu</a></li>
      </ul> 
      
      <div id="rightMenu">
        
      </div>

    </header>

    <div class="main">

      <div id="content" class="left">
        
      </div>

      <div id="contentDetail" class="left">
        
      </div>
    </div>
  </div>