<div id="menu" class="left expanded">
  <div id="scrollerMenu">
  </div>
</div>
<!-- fim menu -->
  <div id="page" class="left">
    <header class="top">
      <ul class="left topButtons">
        <li><a id="menuButton" href="#" class="menu">Menu</a></li>
      </ul> 
      
      <ul class="right topButtons">
        <li><a href="" class="contextMenu">Menu de contexto</a></li>
      </ul>

      <div id="contextMenu" class="hidden">
        <ul>
          <li><a href="#">Contexto 1</a></li>
          <li><a href="#">Contexto 2</a></li>
          <li><a href="#">Contexto 3</a></li>
        </ul>
      </div>

    </header>

    <div class="main">

      <div id="content" class="left">
        
      </div>

      <div id="contentDetail" class="left">
        
      </div>
    </div>
  </div>