<div id="scrollerMenu" class="container">

  <div id="personalInfo">
    <img id="userPicture" src="" />
    <div class="personalData">
      <span id="userName" class="name"><% if (!_.isNull(user.contactFullName)) { %><%=user.contactFullName%><% } %></span>
      <span id="userEmail" class="email"><% if (!_.isNull(user.contactMails[0])) { %><%=user.contactMails[0]%><% } %></span>
      <div id="quota">
        
        <div class="bar"> 
          <div id="usedQuota" class="usedQuota" style="width: 0%;"></div>
          <span id="textQuota">Sem Quota</span>
        </div>

      </div>
    </div>
  </div>

  <dl>

    <dt>Menu</dt>
    <dd>
      <ul id="mainMenu">
        <li class="inbox">
          <a href="/Mail/Folders/INBOX" class="menuLink">
            <span>Caixa de Entrada</span>
            <div class="icon icon-email"></div>
          </a>
        </li>
        <li class="calendar">
          <a href="/Calendar" class="menuLink">
            <span>Agenda</span>
            <div class="icon icon-agenda"></div>
          </a>
        </li>
        <li class="contacts">
          <a href="/Contacts" class="menuLink">
            <span>Contatos</span>
            <div class="icon icon-contacts"></div>
          </a>
        </li>
        <li class="chat">
          <a href="/Chat" class="menuLink">
            <span>Bate-papo</span>
            <div class="icon icon-jabber"></div>
          </a>
        </li>
        <li class="settings">
          <a href="/Settings" class="menuLink">
            <span>Preferências</span>
            <div class="icon icon-settings"></div>
          </a>
        </li>
        <li class="logout">
          <a href="/Logout" class="menuLink">
            <span>Sair</span>
            <div class="icon icon-logout"></div>
          </a>
        </li>
      </ul>
    </dd>

    <dt>Minhas Pastas</dt>
    <dd>
      <ul id="myFolders">
        
      </ul>
    </dd>
    
  </dl>

</div>
