<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jairpereira.expresso" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Expresso</name>
    <description>
        Expresso Mobile
    </description>
    <author email="developer@celepar.pr.gov.br" href="http://cordova.io">
        Expresso Mobile Developer Team
    </author>
    <content src="index_ios.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
