<div class="login-center" style="width: 245px; margin-top: 0px;">
      <div class="product-logo"></div>
</div>
<form method="POST" action="#/Home" class="login-box" onsubmit="">
      <div id="loadingLogin" style="width: 100%; min-height: 150px;">
            <select id="serverURL" name="serverURL" class="login-input" >
                  <option value="http://api.expresso.pr.gov.br">expresso.pr.gov.br</option>
                  <option value="http://demo.expressolivre.org/api/rest/">demo.expressolivre.org</option>
            </select>
            <input id="username" type="username" name="username" class="login-input" value="" placeholder="Usuário" autofocus>
            <input id="password" type="password" name="password" class="login-input" value="" placeholder="Senha">

            <input id="btn-login" type="button" value="Conectar" class="btn btn-primary"  onclick="" style="width: 100%;">
      </div>
</form>
<div class="login-center" style="width: 245px; margin-top: 20px;">
      <div class="company-logo"></div>
</div>
