<div id="pageMessage"></div>
<div class="login-center" style="width: 245px; margin-top: 0px;">
      <div class="product-logo"></div>
</div>
<form method="POST" action="#/Home" class="login-box" onsubmit="">
      <div id="beta" class="hidden"></div>
      <div id="loadingLogin" style="width: 100%; min-height: 140px;">
            <% if (servers.length > 1) { %>
            <select id="serverURL" name="serverURL" class="login-input" >
                  <% _.each(servers, function(server){ %>
                        <option value="<%=server.getServerURL()%>"><%=server.get("serverName")%></option>
                  <% }); %>
            </select>
            <% } else { %>
                  <% _.each(servers, function(server){ %>
                        <input type="hidden" id="serverURL" name="serverURL" value="<%=server.getServerURL()%>" />
                  <% }); %>
            <% } %>
            <input id="username" type="username" name="username" class="login-input" value="" placeholder="Usu&aacute;rio" autofocus>
            <input id="password" type="password" name="password" class="login-input" value="" placeholder="Senha">

            <input id="btn-login" type="button" value="Conectar" class="btn btn-primary"  onclick="" style="width: 100%;">
      </div>
</form>
<div class="login-center" style="width: 245px; margin-top: 20px;">
      <div class="company-logo"></div>
      <% if (Shared.isPhonegap()) { %>
            <div id="helpLink" class="help">? Ajuda/Perguntas Frequentes</div>
      <% } %>
</div>
