<h2 class="ellipsis50">Sobre o Expresso</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="aboutExpresso">

			<div class="login-center" style="width: 245px; margin-top: 50px; margin-bottom: 50px;">
			      <div class="product-logo"></div>
			</div>
			
			<dt>O que é</dt>
			<dd>O Expresso Livre é uma solução completa de comunicação que reúne Email, Agenda, Catálogo de Endereços, Workflow e Mensagens Instantâneas em um único ambiente. Por ser uma versão customizada do E-GroupWare, seu desenvolvimento também é totalmente baseado em software livre.</dd>

			<dt>Características</dt>
			<dd>- Alta Escalabilidade<br>
				- Baixo custo<br>
				- Utilização de protocolos padrões<br>
				- Integração com outros sistemas Web<br>
				- Independência de fornecedor<br>
				- Independência de plataforma cliente<br>
				- Independência de plataforma servidor<br>
				- Mobilidade dos usuários<br>
			</dd>

			<dt>Saiba mais</dt>
			<dd><a href="#">www.expressolivre.org</a></dd>

			<dt>Versões</dt>
			<dd>
				<ul>
					<li>Versão da Aplicação: <b><%=appVersion%></b></li>
					<li>Versão do Expresso: <b><%=expressoVersion%></b></li>
					<li>Versão da API: <b><%=apiVersion%></b><br><br><br><br><br></li>
				</ul>
			</dd>
				
		</dl>
  	</div>
</article>