<h2 class="ellipsis50">Créditos</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="credits">
			
			<dt>Projeto desenvolvido por:</dt>
			<dd>CELEPAR - Companhia de Tecnologia da Informação e Comunicação do Estado do Paraná
				<br><br>
				<div class="company-logo"></div>
			</dd>

			<dt>Desenvolvedores</dt>
			<dd>
				<ul>
					<li>Jair Gonçalves Pereira Jr</li>
					<li>Rafael Katayama Gobara</li>
				</ul>
			</dd>

			<dt>Desenvolvedores API</dt>
			<dd>
				<ul>
					<li>Nilton Emilio Buhrer Neto</li>
					<li>Jair Gonçalves Pereira Jr</li>
					<li>Alexandre Luiz Correia</li>
					<li>Anderson Tadayuki Saikawa</li>
				</ul>
			</dd>

			<dt>Biliotecas utilizadas</dt>
			<dd>
				<ul>
					<li>Bacbkone</li>
					<li>RequireJS</li>
					<li>Underscore</li>
					<li>jQuery</li>
					<li>PhoneGap</li>
					<li>iScroll</li>
					<li>jQuery Dot Dot Dot</li>
					<li>jQuery XMPP</li>
				</ul>
			</dd>

		</dl>

  	</div>
</article>