<h2 class="ellipsis50">Perguntas Frequentes</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="aboutExpresso">

			<div class="login-center" style="width: 245px; margin-top: 50px; margin-bottom: 50px;">
			      <div class="product-logo"></div>
			</div>

			<dt>Posso configurar o Aplicativo com meu usuário de outro serviço de Emails (GMAIL, YAHOO, etc)?</dt>
			<dd>Não, o aplicativo foi desenvolvido para acessar somente servidores homologados do Expresso.</dd>

			<dt>Como faço para criar uma conta do Expresso?</dt>
			<dd>
			A criação de contas do expresso, é de responsabilidade do administrador de cada empresa/instituição que utiliza o Expresso. Caso você pertença a uma empresa que utiliza o Expresso e não tem uma conta, entre em contato com o administrador de sua organização.
			</dd>

			<dt>Como posso usar na minha Empresa/Instituição?</dt>
			<dd>
			Para que sua empresa/instituição possa utilizar o Expresso Mobile, o Expresso Livre deverá ser instalado em um servidor de emails da sua empresa/instituição. Siga o procedimento de instalação no site da comunidade: http://www.expressolivre.org/
			</dd>

			<dt>Como posso usar na minha Empresa/Instituição?</dt>
			<dd>
			Para que sua empresa/instituição possa utilizar o Expresso Mobile, o Expresso Livre deverá ser instalado em um servidor de emails da sua empresa/instituição. Siga o procedimento de instalação no site da comunidade: http://www.expressolivre.org/
			</dd>

			<dt>Já possuo o Expresso Livre instalado em minha empresa, porque meu servidor não aparece na lista de Servidores?</dt>
			<dd>
			Para que você possa usar este aplicativo em sua empresa/instituição, Foi desenvolvido um módulo para o Expresso Livre que deverá estar instalado na sua instalação do expresso, ele precisa estar rodando a versão 2.5 ou superior e ser homologada/autorizada pelos administradores da comunidade expresso, somente então seu servidor será cadastrado para aparecer na lista de servidores. Caso você já possua este módulo instalado em seu ambiente clique aqui e entre em contato solicitando a liberação do seu servidor.
			</dd>

			<dt>Em qual versão do Expresso Livre meu servidor deverá estar?</dt>
			<dd>
				O Módulo responsável pela comunicação com o aplicativo mobile está disponível para a versão 2.5 do Expresso, portanto seu servidor deverá estar rodando esta versão ou superior.
			</dd>

			<dt>Em qual versão do iOS meu dispositivo deverá estar?</dt>
			<dd>
				O Expresso para iOS é suportado a partir da versão 6.0 do iOS.
			</dd>

			<dt>Em qual versão do Android meu dispositivo deverá estar?</dt>
			<dd>
				O Expresso para Android é suportado a partir da versão 4.0.2 do Android.
			</dd>

			<dt>Quais são os dispositivos suportados?</dt>
			<dd>
				<ul>
					<li>Smartphones com iOS a partir do iPhone 4S.</li>
					<li>Smartphones com Android a partir do 4.0.2</li>
					<li>Tablets com iOS a partir do iPad 2.</li>
					<li>Tablets com Android a partir do 4.0.2</li>
				</ul>
				<br><br>
				O Expresso pode rodar em outros dispositivos como iPod Touch, iPhone 3GS, ou em dispositivos Android com baixo poder de processamento etc..
				<br><br>
				Porém Não será prestado suporte para este ou quaisquer outros dispositivos que não estejam na lista acima.
			</dd>

		</dl>
  	</div>
</article>