<h2 class="ellipsis50">Sobre o Expresso</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="aboutExpresso">

			<div class="login-center" style="width: 245px; margin-top: 50px; margin-bottom: 50px;">
			      <div class="product-logo"></div>
			</div>
			
			<dt>O que &eacute;</dt>
			<dd>O Expresso Livre &eacute; uma solu&ccedil;&atilde;o completa de comunica&ccedil;&atilde;o que re&uacute;ne Email, Agenda, Cat&aacute;logo de Endere&ccedil;os, Workflow e Mensagens Instant&acirc;neas em um &uacute;nico ambiente. Por ser uma vers&atilde;o customizada do E-GroupWare, seu desenvolvimento tamb&eacute;m &eacute; totalmente baseado em software livre.</dd>

			<dt>Caracter&iacute;sticas</dt>
			<dd>- Alta Escalabilidade<br>
				- Baixo custo<br>
				- Utiliza&ccedil;&atilde;o de protocolos padr&oatilde;es<br>
				- Integra&ccedil;&atilde;o com outros sistemas Web<br>
				- Independ&ecirc;ncia de fornecedor<br>
				- Independ&ecirc;ncia de plataforma cliente<br>
				- Independ&ecirc;ncia de plataforma servidor<br>
				- Mobilidade dos usu&aacute;rios<br>
			</dd>

			<dt>Saiba mais</dt>
			<dd><a href="#">www.expressolivre.org</a></dd>

			<dt>Vers&otilde;es</dt>
			<dd>
				<ul>
					<li>Vers&atilde;o da Aplica&ccedil;&atilde;o: <b><%=appVersion%></b></li>
					<li>Vers&atilde;o do Expresso: <b><%=expressoVersion%></b></li>
					<li>Vers&atilde;o da API: <b><%=apiVersion%></b><br><br><br><br><br></li>
				</ul>
			</dd>
				
		</dl>
  	</div>
</article>