<h2 class="ellipsis50">Cr&eacute;ditos</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="credits">
			
			<dt>Projeto desenvolvido por:</dt>
			<dd>CELEPAR - Companhia de Tecnologia da Informa&ccedil;&atilde;o e Comunica&ccedil;&atilde;o do Estado do Paran&aacute;
				<br><br>
				<div class="company-logo"></div>
			</dd>

			<dt>Desenvolvedores</dt>
			<dd>
				<ul>
					<li>Alexandre Rocha Wendling</li>
					<li>Jair Gon&ccedil;alves Pereira Jr</li>
					<li>Rafael Katayama Gobara</li>
				</ul>
			</dd>

			<dt>Desenvolvedores API</dt>
			<dd>
				<ul>
					<li>Alexandre Luiz Correia</li>
					<li>Alexandre Rocha Wendling</li>
					<li>Anderson Tadayuki Saikawa</li>
					<li>Jair Gon&ccedil;alves Pereira Jr</li>
					<li>Nilton Emilio Buhrer Neto</li>
					<li>Rafael Katayama Gobara</li>			
				</ul>
			</dd>

			<dt>Design e Padrão de Usabilidade</dt>
			<dd>
				<ul>
					<li>Carlos Henrique Roland</li>
					<li>Jair Gon&ccedil;alves Pereira Jr</li>
					<li>Rafael Katayama Gobara</li>			
				</ul>
			</dd>

			<dt>Biliotecas utilizadas</dt>
			<dd>
				<ul>
					<li>Bacbkone</li>
					<li>RequireJS</li>
					<li>Underscore</li>
					<li>jQuery</li>
					<li>Moment.js</li>
					<li>PhoneGap</li>
					<li>iScroll</li>
					<li>jQuery Dot Dot Dot</li>
					<li>jQuery XMPP</li>
				</ul>
			</dd>

		</dl>

  	</div>
</article>