<h2 class="ellipsis50">Sobre o Expresso</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="aboutExpresso">
			
			<dt>O que é</dt>
			<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</dd>

			<dt>Características</dt>
			<dd>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</dd>

			<dt>Saiba mais</dt>
			<dd><a href="#">www.expressolivre.org</a></dd>

			<dt>Versões</dt>
			<dd>
				<ul>
					<li>Application version 1.0</li>
					<li>Expresso version 2.2</li>
					<li>API Version 1.0</li>
				</ul>
			</dd>
				
		</dl>
  	</div>
</article>