<h2 class="ellipsis50">Créditos</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">

		<dl id="credits">
			
			<dt>Projeto desenvolvido</dt>
			<dd>CELEPAR</dd>

			<dt>Desenvolvedores</dt>
			<dd>
				<ul>
					<li>João Silva</li>
					<li>Maria Souza</li>
				</ul>
			</dd>

			<dt>Desenvolvedores API</dt>
			<dd>
				<ul>
					<li>Pedro Alvares</li>
					<li>Cristóvão Colombo</li>
					<li>Américo Vespúcio</li>
				</ul>
			</dd>

			<dt>Biliotecas utilizadas</dt>
			<dd>
				<ul>
					<li>jQuery</li>
					<li>PhoneGap</li>
					<li>iScroll</li>
				</ul>
			</dd>

		</dl>

  	</div>
</article>