<h2 class="ellipsis50">Alterar Senha</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">
		<form id="changePassword">
			<ol>
				<li>
					<input type="password" name="senhaAtual" id="senhaAtual" placeholder="Senha atual" value="" />
				</li>
				<li>
					<input type="password" name="novaSenha" id="novaSenha" placeholder="Nova senha" value="" />
				</li>
				<li>
					<input type="password" name="repetirNovaSenha" id="repetirNovaSenha" placeholder="Repetir nova senha" value="" />
				</li>
			</ol>
		</form>
  	</div>
</article>