<h2 class="ellipsis50">Assinatura do Email</h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">
		<div id="emailSignature">
			<ol>
				<li>
					<input type="hidden" id="typeSignature" name="typeSignature" value="<%=typeSignature%>">
					<% if (typeSignature == 'html') { %>
					<div id="assinaturaEmailHTML"  class="messageBodyInput" style="width: 100%; min-height: 400px;" contenteditable="true">
						<%=mailsignature%>
					</div>
					<% } else { %>
					<textarea name="assinaturaEmail" id="assinaturaEmail" placeholder="Mensagem enviada pelo Expresso Mobile."><%=mailsignature%></textarea>
					<% } %>
				</li>
			</ol>
		</div>
  	</div>
</article>