<% if (isConnected) { %>
<% for (var i in contacts) { %>
    <dt id="list_title_<%=i%>" <% if (contacts[i].length == 0) { %>class="hidden"<% } %>>
      <% if (i == 'online') { %>Online<% } %>
      <% if (i == 'busy') { %>Ocupado<% } %>
      <% if (i == 'away') { %>Ausente<% } %>
      <% if (i == 'offline') { %>Offline<% } %>
    </dt>
    <ul id="list_<%=i%>">
      <% _.each(contacts[i], function(contact){ %>
        <% if (contact.id != null) { %>
        <li id="<%=contact.id%>"> 
          <a href="/Chat/<%=contact.id%>" class="listItemLink">
            <div id="<%=contact.id%>_status" class="chat-<%=i%>"></div>
            <div id="<%=contact.id%>_badge" style="" class="badge badge-chat-list <% if (contact.qtdUnread == 0) { %>hidden<% } %>"><%= contact.qtdUnread %></div>
            <% if (contact.name != null) { %>
            <h3 class="ellipsis20"><%= contact.name %></h3>
            <span class="ellipsis14"><%= contact.jid %></span>
            <% } else { %>
            <h3 class="ellipsis20"><%= contact.jid %></h3>
            <% } %>
          </a>
        </li>
        <% } %>
      <% }); %>
    </ul>
<% } %>
<% } else { %>
<div id="errorMessage">

</div>
<% } %>

