<h2 id="msgSubjectTitle" class="ellipsis50"><% if (message.get("msgSubject") != "") { %><%=message.get("msgSubject")%><% } else { %>Nova Mensagem<% } %></h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">
		<div id="composeMessage" style="margin: 10px;">
			<dl>
				<div id="composeMessageHeader">
					<dd class="formListItem">
						
						<div id="msgToField" class="formField">
							<div class="formFieldTitle">
								Para:&nbsp;&nbsp;
							</div>

							<div id="msgToRecipients">
								<% if (message.get("msgTo")) {  %>
				                  	<% _.each(message.get("msgTo"), function(msgRecipient){ %>
				                  		<div class="recipientmsgTo">
						                    <span class="badge badge-write-message">
						                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
						                      <%=$.trim(msgRecipient.fullName)%>
						                    <% } else { %>
						                      <%=msgRecipient.mailAddress%>
						                    <% } %>
						                    </span>
						                    <input type="text" class="msgToInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
					                	</div>
				                  	<% }); %>

				                <% } %>
			            	</div>
			                <input type="text" id="msgToInput" name="msgToInput" class="inputMessage">

						</div>
						<div class="clear"></div>
					</dd>
					<div id="msgCCBcc" class="hidden">
						<dd class="formListItem">
							<div class="formFieldTitle">
							Cc:&nbsp;&nbsp;
							</div>
							<div id="msgCcField" class="formField">

								<div id="msgCcRecipients">
									<% if (message.get("msgCc")) {  %>
					                  	<% _.each(message.get("msgCc"), function(msgRecipient){ %>
					                  		<div class="recipientmsgCc">
							                    <span class="badge badge-write-message">
							                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
							                      <%=$.trim(msgRecipient.fullName)%>
							                    <% } else { %>
							                      <%=msgRecipient.mailAddress%>
							                    <% } %>
							                    </span>
							                    <input type="text" class="msgCcInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
						                	</div>
					                  	<% }); %>

					                <% } %>
				            	</div>
				                <input type="text" id="msgCcInput" name="msgCcInput" class="inputMessage">

							</div>
							<div class="clear"></div>
						</dd>
						<dd class="formListItem">
							<div class="formFieldTitle">
							Bcc:&nbsp;&nbsp;
							</div>
							<div id="msgBccField" class="formField">

								<div id="msgBccRecipients">
									<% if (message.get("msgBcc")) {  %>
					                  	<% _.each(message.get("msgBcc"), function(msgRecipient){ %>
					                  		<div class="recipientmsgBcc">
							                    <span class="badge badge-write-message">
							                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
							                      <%=$.trim(msgRecipient.fullName)%>
							                    <% } else { %>
							                      <%=msgRecipient.mailAddress%>
							                    <% } %>
							                    </span>
							                    <input type="text" class="msgBccInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
						                	</div>
					                  	<% }); %>

					                <% } %>
				            	</div>
				                <input type="text" id="msgBccInput" name="msgBccInput" class="inputMessage">
							</div>
							<div class="clear"></div>
						</dd>
					</div>
					<dd class="formListItem">
						<div class="formFieldTitle">
							Assunto:&nbsp;&nbsp;
						</div>
						<div class="formField">
							<input type="text" id="msgSubjectInput" name="msgSubject" class="inputMessage" value="<%=message.get("msgSubject")%>" autocorrect="off" autocapitalize="off" style="width: 70%;">
						</div>
						<div class="clear"></div>
					</dd>
				</div>
				<dd>
					<div id="msgBodyInput" class="messageBodyInput" style="width: 100%;" contenteditable="true"><%=message.getMessageBody(true)%></div>
					&nbsp;
				</dd>
			</dl>
		</div>
	</div>
</article>