<h2 id="msgSubjectTitle" class="ellipsis50"><% if (message.get("msgSubject") != "") { %><%=message.get("msgSubject")%><% } else { %>Nova Mensagem<% } %></h2>
<article id="wrapperDetail" class="container">
	<div id="scrollerDetail">
		<table id="messageDetails"> 
	        <tr id="msgToRow detailRow">
		        <td class="item detailCol">
		          Para:
		        </td>
		        <td class="descriptionCompose detailCol">
		        	<% if (Shared.userHasModule("catalog")) { %>
		        		<% if (Shared.apiVersion != "1.0") { %>
		        		<div id="addMsgToField" class='icon-add'></div>
		        		<% } %>
		        	<% } %>
		        	<div id="msgToRecipients">
						<% if (message.get("msgTo")) {  %>
		                  	<% _.each(message.get("msgTo"), function(msgRecipient){ %>
		                  		<div class="recipientmsgTo" data-mail="<%=msgRecipient.mailAddress%>">
				                    <span class="badge badge-write-message">
				                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
				                      <%=$.trim(msgRecipient.fullName)%>
				                    <% } else { %>
				                      <%=msgRecipient.mailAddress%>
				                    <% } %>
				                    </span>
				                    <input type="text" class="msgToInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
			                	</div>
		                  	<% }); %>
		                <% } %>
	            	</div>
	                <input type="text" id="msgToInput" name="msgToInput" class="inputMessage" value="">
	                <div class="clear"></div>
		        </td>
	    	</tr>
		    <tr id="msgCcRow" class="detailRow <% if (message.get("msgCc").length == 0) {  %>hidden<% } %>">
		        <td class="item detailCol">
		          Cc:
		        </td>
		        <td class="descriptionCompose detailCol">
		        	<% if (Shared.userHasModule("catalog")) { %>
		        		<% if (Shared.apiVersion != "1.0") { %>
		        			<div id="addMsgCcField" class='icon-add'></div>
		        		<% } %>
		        	<% } %>
		        	<div id="msgCcRecipients">
						<% if (message.get("msgCc")) {  %>
		                  	<% _.each(message.get("msgCc"), function(msgRecipient){ %>
		                  		<div class="recipientmsgCc" data-mail="<%=msgRecipient.mailAddress%>">
				                    <span class="badge badge-write-message">
				                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
				                      <%=$.trim(msgRecipient.fullName)%>
				                    <% } else { %>
				                      <%=msgRecipient.mailAddress%>
				                    <% } %>
				                    </span>
				                    <input type="text" class="msgCcInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
			                	</div>
		                  	<% }); %>

		                <% } %>
	            	</div>
	                <input type="text" id="msgCcInput" name="msgCcInput" class="inputMessage">
	                <div class="clear"></div>
		        </td>
	    	</tr>
	    	<tr id="msgBccRow" <% if (message.get("msgBcc").length == 0) {  %>class="hidden"<% } %>>
		        <td class="item detailCol">
		          Bcc:
		        </td>
		        <td class="descriptionCompose detailCol">
		        	<% if (Shared.userHasModule("catalog")) { %>
		        		<% if (Shared.apiVersion != "1.0") { %>
		        			<div id="addMsgBccField" class='icon-add'></div>
		        		<% } %>
		        	<% } %>
		        	<div id="msgBccRecipients">
						<% if (message.get("msgBcc")) {  %>
		                  	<% _.each(message.get("msgBcc"), function(msgRecipient){ %>
		                  		<div class="recipientmsgBcc" data-mail="<%=msgRecipient.mailAddress%>">
				                    <span class="badge badge-write-message">
				                    <% if ($.trim(msgRecipient.fullName) != '') { %> 
				                      <%=$.trim(msgRecipient.fullName)%>
				                    <% } else { %>
				                      <%=msgRecipient.mailAddress%>
				                    <% } %>
				                    </span>
				                    <input type="text" class="msgBccInput hidden" value='<%=message.getEmailStringForMessageRecipient(msgRecipient)%>'>
			                	</div>
		                  	<% }); %>
		                <% } %>
	            	</div>

	                <input type="text" id="msgBccInput" name="msgBccInput" class="inputMessage">
	                <div class="clear"></div>
		        </td>
	    	</tr>
	    	<tr id="msgSubjectRow">
		        <td class="item detailCol">
		          Assunto:
		        </td>
		        <td class="descriptionCompose detailCol">
		        	<input type="text" id="msgSubjectInput" name="msgSubject" class="inputMessage" value="<%=message.get("msgSubject")%>" autocorrect="off" autocapitalize="off" style="width: 70%;">
		        </td>
	    	</tr>
	    	<tr id="msgAttachmentsRow" class="hidden detailRow">
		        <td class="item detailCol">
		          Anexos:
		          <input type="file" id="attachment_input" name="attachment_input_temp" class="hidden">
		        </td>
		        <td class="descriptionCompose detailCol">
		        	
		        	<div id="msgAttachmentsRecipients">
		        		
		        		<% if (isDesktop) { %>
		        		<div class="clear"></div>
		        		<div id="add_attachment" class="icon-add-attachment"></div>
						<div id="drop_zone_text">
							Arraste e solte os arquivos aqui...
						</div>
						<% } %>
						
	            	</div>
		        </td>
	    	</tr>

	    	
	    	<tr id="msgBodyRow detailRow">
	    		<td class="itemBody detailCol" colspan="2">
	    			<div id="msgBodyInput" class="messageBodyInput" style="width: 100%;" contenteditable="true"><%=message.getMessageBody(withSignature,msgType,msgOriginal)%></div>
	    		</td>
	    	</tr>
	    </table>
	</div>
</article>