<% _.each(messages, function(message){ %>
<h2 class="ellipsis50"><span class="subtitle-detail-text"><%=message.getTimeAgo()%></span><%= message.get("msgSubject") %></h2>
<article id="wrapperDetail" class="container">
  <div id="scrollerDetail">
    <table id="messageDetails"> 
      <tr>
        <td class="item">
          De:
        </td>
        <td class="description">
          <span class="badge badge-write-message">
             <%= message.get("msgFrom").mailAddress %>
          </span>
        </td>
        <td>
          <div class="msg-list-images" style="width: 150px;">
            <% if (message.get("msgHasAttachments") == '1') { %>
            <div class="msg-attachments"></div>
            <% } %>
            <% if (message.get("msgFlagged") == '1') { %>
            <div class="msg-flagged"></div>
            <% } %>
            <% if (message.get("msgForwarded") == '1') { %>
            <div class="msg-forwarded"></div>
            <% } %>
            <div class="clear"></div>
          </div>
        </td>
      </tr> 
      <div id="msgDetails" class="hidden">
        <tr>
          <td class="item">
            Para:
          </td>
          <td class="description" colspan="2">
            <% if (message.get("msgTo")) {  %>
              <% _.each(message.get("msgTo"), function(msgRecipient){ %>
                <span class="badge badge-write-message">
                <% if ($.trim(msgRecipient.fullName) != '') { %> 
                  <%=$.trim(msgRecipient.fullName)%>
                <% } else { %>
                  <%=msgRecipient.mailAddress%>
                <% } %>
                </span>
              <% }); %>
            <% } %>
          </td>
        </tr> 
      <tr>
          <td class="item">
            Data:
          </td>
          <td class="description" colspan="2">
            <%=message.get("msgDate")%>&nbsp;(<%=message.getTimeAgo()%>)
          </td>
        </tr> 
        <% if (message.get("msgCc").length) {  %>
        <tr>
          <td class="item">
            Cc:
          </td>
          <td class="description" colspan="2">
              <% _.each(message.get("msgCc"), function(msgRecipientCc){ %>
                <span class="badge badge-write-message">
                <% if ($.trim(msgRecipientCc.fullName) != '') { %> 
                  <%=$.trim(msgRecipientCc.fullName)%>
                <% } else { %>
                  <%=msgRecipientCc.mailAddress%>
                <% } %>
                </span>
              <% }); %>
            
          </td>
        </tr> 
        <% } %>
        <% if (message.get("msgBcc").length) {  %>
        <tr>
          <td class="item">
            Bcc:
          </td>
          <td class="description" colspan="2">
              <% _.each(message.get("msgBcc"), function(msgRecipientBcc){ %>
                <span class="badge badge-write-message">
                <% if ($.trim(msgRecipientBcc.fullName) != '') { %> 
                  <%=$.trim(msgRecipientBcc.fullName)%>
                <% } else { %>
                  <%=msgRecipientBcc.mailAddress%>
                <% } %>
                </span>
              <% }); %>
          </td>
        </tr> 
        <% } %>
      </div>
      <% if (message.get("msgAttachments")) {  %>
      <tr>
        <td class="item">
          Anexos:
        </td>
        <td class="description" colspan="2">
            <div id="msgAttachmentsRecipients">

            </div>

        </td>
      </tr> 
      <% } %>
      <tr>
        <td class="itemBody" colspan="3">
          <%=message.getMessageBody(false)%>
        </td>
      </tr> 
    </table>
  </div>
</article>
<% }); %>