<% _.each(folders, function(folder){ %>
	<% if ((folder.get("folderParentID") == "") || (folder.get("folderParentID") == "user")) { %>
	<li>
		<a href="<%=folder.route()%>" name="<%=folder.route()%>" data-toggle="collapse" data-target="#menu" class="listFolderMenuItemLink">
			<span><%=folder.get("folderName")%><% if (folder.get("folderHasChildren") == 1) { %><strong class="badge badge-subfolders"> > </strong><% } %><% if (folder.get("qtdUnreadMessages") != 0) { %><strong class="badge badge-info"><%=folder.get("qtdUnreadMessages")%></strong><% } %>
				</span>
		<% if (folder.get("folderType") == 0) { %>
			<div class="icon folder-inbox"></div>
		<% } %>
		<% if (folder.get("folderType") == 4) { %>
			<div class="icon folder-drafts"></div>
		<% } %>
		<% if (folder.get("folderType") == 1) { %>
			<div class="icon folder-sent"></div>
		<% } %>
		<% if (folder.get("folderType") == 2) { %>
			<div class="icon folder-spam"></div>
		<% } %>
		<% if (folder.get("folderType") == 3) { %>
			<% if (folder.get("qtdMessages") == "0") { %>
				<div class="icon folder-trash"></div>
			<% } else { %>
				<div class="icon folder-trash-full"></div>
			<% } %>
		<% } %>
		<% if (folder.get("folderType") == 5) { %>
			<div class="icon folder-blue"></div>
		<% } %>
		<% if (folder.get("folderType") == 6) { %>
			<div class="icon folder-shared"></div>
		<% } %>
		
		</a>
	</li>
	<% } %> 
<% }); %>