<%

var folderClass = "folder-blue";

if (currentFolder.get("folderType") == 0) {
	folderClass = "folder-inbox";
}

if (currentFolder.get("folderType") == 4) {
	folderClass = "folder-drafts";
}

if (currentFolder.get("folderType") == 1) {
	folderClass = "folder-sent";
}

if (currentFolder.get("folderType") == 2) {
	folderClass = "folder-spam";
}

if (currentFolder.get("folderType") == 3) {
	if (currentFolder.get("qtdMessages") == "0") { 
		folderClass = "folder-trash";
	} else {
		folderClass = "folder-trash-full";
	}	
}

if (currentFolder.get("folderType") == 5) {
	folderClass = "folder-blue";
}

if (currentFolder.get("folderType") == 6) {
	folderClass = "folder-shared";
}

%>
<h2 class="ellipsis50 <%=folderClass%>" style="padding-left: 50px; background-position: 10px;"><%=currentFolder.get("folderName")%></h2>
<div class="searchArea">
  <input id="searchField" type="text" value="" placeholder="Procurar Por:" />
</div>

<div id="wrapper" class="container">
  <div id="scroller">
  	<div id="pullDown">
	  	<span class="pullDownIcon"></span><span class="pullDownLabel"><% if (collection.length) { %>Puxe para baixo para atualizar<% } %></span>
	</div>
	<ul id="scrollerList">

	</ul>
	<div id="pullUp">
	  <span class="pullUpIcon"></span><span class="pullUpLabel">
	  <% if (!collection.length) { %>Esta pasta não contém mensagens.<% } else { %>Puxe para cima para carregar mais...<% } %></span>
	</div>
	
  </div>
</div>