<% if (contacts.length > 0) { %>

	<dl id="contactsList" class="personal">

		<% var summaryLetter = _.first(contacts).get('contactFirstName').charAt(0).toUpperCase(); %>
		<dt><%=summaryLetter%></dt>
		<dd>
			<ul>
		
				<% _.each(contacts, function(c) { %>

					<% if (!_.isEqual(summaryLetter, c.get('contactFirstName').charAt(0).toUpperCase())) { %>
					
						<% summaryLetter = c.get('contactFirstName').charAt(0).toUpperCase(); %>
						
						</ul>
							</dd>
							<dt><%=summaryLetter%></dt>
							<dd>
								<ul>

					<% } %>

					<li id="<%=c.get('contactID')%>">
						<a href="/Contacts/Personal/<%= c.get('contactID') %>" title="<%=c.get('contactFullName')%>">
							<div class="info">
								<span class="name"><%=c.get('contactFullName')%></span>
								<span class="email"><%=c.getFirstEmailAddress()%></span>
							</div>
						</a>
					</li>

				<% }); %>

			</ul>
		</dd>

	</dl>
	
<% } else { %>

	<p class="erro">Nenhum registro encontrado</p>

<% } %>